<%- include('partials/header')%>
<%- include('partials/homeNavbar')%>

<body>
    
    <div class="container col-8">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="lead">Este é um simples blog do GuiaPress.</p>
            <hr class="my-4">
            <p>Faça seu login aqui.</p>
            <a class="btn btn-primary " href="/login" role="button">Login</a>
            <hr>
            <p>Faça seu cadastro aqui.</p>
            <a class="btn btn-primary" href="/admin/users/create" role="button">Cadastrar</a>
          </div>
        <% articles.forEach(article => { %>
           <div class="card">
                <div class="card-header">
                    <%= article.title %>
                </div>
                
                <div class="card-body">
                    <a href="<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>   
            </div>
            <br>
       <% }) %>

            <div class="row">
                <div class="col">
                    <a style="float: right;" class="btn btn-primary btn-sm" href="/articles/page/2">Next >></a>
                </div>
            </div>
            <hr/>
    </div>    
    <hr/>
</body>
<%- include('partials/footer')%>
</html>